<footer class="footer-section">
    <div class="dot-slider bg_img" style="background-image: url(/assets/images/footer/footer-dots.png);"></div>
    <div class="container">
        <div class="footer-top cl-white padding-bottom padding-top">
            <div class="row mb--50 justify-content-between">
                <div class="col-sm-8 col-lg-4">
                    <div class="footer-widget widget-about">
                        <div class="logo-area">
                            <img src="assets/images/logo/ec2.png" class="logo">
                        </div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor eligendi mollitia rerum quibusdam quod ut, minima quisquam placeat eveniet eos fuga velit iure, itaque facilis et maxime ea voluptatum quam.</p>
                        <ul class="social-icons">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="#" class=""><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 col-md-4 col-lg-3 offset-lg-1">
                    <div class="footer-widget widget-link">
                        <h5 class="title">Quik Links</h5>
                        <ul>
                            <li>
                                <routerLink routerLink="Contact">Contact Us</routerLink>
                            </li>
                            <li>
                                <routerLink routerLink="knowlogeBase">Knowledge base</routerLink>
                            </li>
                            <li>
                                <routerLink routerLink="ticketList">forums</routerLink>
                            </li>
                            <li>
                                <routerLink routerLink="Forums">Support Page</routerLink>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 col-lg-4">
                    <div class="footer-widget widget-newsletter">
                        <h5 class="title">Newsletter</h5>
                        <form class="newsletter-form">
                            <input type="text" placeholder="Enter Your Email" name="email">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>