<App-navbar>

</App-navbar>
<div class="hero-section bg_img style-two" style="background-image: url(/assets/images/banner/page-header.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-md-10">
                <div class="cate-header cl-white">
                    <h1 class="cate-title">Submit your forums to our online Support Desk</h1>
                    <p>Can’t find the answer you’re looking for? Don't worry! Get in touch with the Docs Support team, we will be glad to assist you.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--============= Hero Section Ends Here =============-->


<!--============= Contact Section Starts Here =============-->
<div class="contact-form-section padding-bottom pos-rel">
    <div class="container">
        <div class="contact-wrapper oh mt--160">
            <div class="contact-header">
                <h5 class="title">Submit forums</h5>

            </div>
            <form class="contact-form row" id="contact_form_submit">
                <div class="form-group col-md-6">
                    <label for="name">First Name</label>
                    <input type="text" id="name" name="name">
                </div>
                <div class="form-group col-md-6">
                    <label for="lastname">Last Name</label>
                    <input type="text" id="lastname" name="name">
                </div>
                <div class="form-group col-md-6">
                    <label for="phone">Phone Number</label>
                    <input type="text" id="phone" name="phone">
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email">
                </div>
                <div class="form-group col-md-6">
                    <label for="text">subject</label>
                    <input type="text" id="text" name="subject">
                </div>
                <div class="form-group col-md-12">
                    <label for="message">Message</label>
                    <textarea id="message" name="message"></textarea>
                </div>
                <div class="form-group col-md-12">
                    <div class="form-submit">
                        <button type="submit" class="custom-button">Submit</button>
                        <p>Need a quick answer? <a routerLink="ticketList">Your answer might be in our FAQs.</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--============= Contact Section Ends Here =============-->


<!--============= Have Questions Section Starts Here =============-->

<!--============= Have Questions Section Ends Here =============-->
<App-footer></App-footer>