<App-navbar></App-navbar>

<div class="hero-section bg_img style-three" style="background-image: url(/assets/images/banner/page-header.jpg);">
    <div class="container">
        <div class="section-header cl-white">
            <h2 class="title">Ticket System</h2>
            <p>Discover new features, bug fixes and update releases from Deskoto</p>
        </div>
    </div>
</div>
<!--============= Banner Section Ends Here =============-->


<!--============= Changelog Section Starts Here =============-->
<section class="changelog-section padding-bottom mt--187 pos-rel">
    <div class="container">
        <div class="changelog-wrapper">
            <div class="changelog-item item2 item3">
                <a routerLink="/ticket"><span class="update-button">Open</span>
              </a>
                <h5 class="title">GitHelp Center v1.0 is released!</h5>
                <span class="date">Updated over a week ago</span>

            </div>

            <div class="changelog-item item2 item3">
                <span class="update-button">Open</span>
                <h5 class="title">GitHelp Center v1.0 is released!</h5>
                <span class="date">Updated over a week ago</span>

            </div>

            <div class="changelog-item item2 item3">
                <a href="closeTicket.html">
                    <span class="update-button bug">Close</span>

                </a>
                <h5 class="title">Login Auth Issue Fixed on Deskoto</h5>
                <span class="date">Updated over a week ago</span>

            </div>

            <div class="changelog-item item2 item3">
                <span class="update-button bug">Close</span>
                <h5 class="title">Deskoto new feature is released!</h5>
                <span class="date">Updated over a week ago</span>

            </div>

            <div class="changelog-item item2 item3">
                <span class="update-button">Open</span>
                <h5 class="title">Responsive Issues Fixed on Deskoto v0.3</h5>
                <span class="date">Updated over a week ago</span>

            </div>

        </div>
    </div>
</section>
<App-footer></App-footer>
<!--============= Changelog Section Ends Here =============-->
