<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo-area">
                <div class="header-right">
                    <routerLink routerLink="/login" class="header-button d-none d-md-inline-block">login</routerLink>
                </div>
                <div class="header-right">
                    <routerLink routerLink="/signup" class="header-button d-none d-md-inline-block">sign up</routerLink>
                </div>
                <img class="logo" src="assets/images/logo/ec2.png">

            </div>

            <ul class="menu">
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/ticketList">forums</a>
                </li>
                <li>
                    <a routerLink="/knowlodge">Knowledge base</a>
                </li>
                <li class="d-md-none text-center">
                    <routerLink routerLink="/fourms" class="m-1 header-button">Submit Forums</routerLink>
                </li>

            </ul>
            <div class="header-bar d-lg-none">

                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header-right">
                <routerLink routerLink="/fourms" class="header-button d-none d-md-inline-block">Submit a Forums</routerLink>
            </div>

        </div>
    </div>
</header>