<App-navbar>
</App-navbar>
<div class="hero-section bg_img style-two" style="background-image: url(/assets/images/banner/page-header.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-md-10">
                <div class="cate-header cl-white">
                    <h1 class="cate-title">Contact our Online Support Desk</h1>
                    <p>Can’t find the answer you’re looking for? Don't worry! Get in touch with the Docs Support team, we will be glad to assist you.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--============= Hero Section Ends Here =============-->


<!--============= Contact Section Starts Here =============-->
<div class="contact-form-section padding-bottom pos-rel">
    <div class="container">
        <div class="contact-wrapper oh mt--160">
            <div class="contact-header">
                <h5 class="title">Contact Information</h5>
                <div class="contact-info-area">
                    <div class="contact-info-item">
                        <a href="Tel:0123012015200">
                            <img src="./assets/images/contact/01.png" alt="contact">
                            <span>(123) 456 - 789</span>
                        </a>
                    </div>
                    <div class="contact-info-item">
                        <a href="Mailto:contact@deskoto.com">
                            <img src="./assets/images/contact/02.png" alt="contact">
                            <span><span class="__cf_email__" data-cfemail="bad9d5d4cedbd9cefadedfc9d1d5ced594d9d5d7">[email&#160;protected]</span></span>
                        </a>
                    </div>
                </div>
            </div>
            <form class="contact-form row" id="contact_form_submit">
                <div class="form-group col-md-6">
                    <label for="name">First Name</label>
                    <input type="text" id="name" name="name">
                </div>
                <div class="form-group col-md-6">
                    <label for="lastname">Last Name</label>
                    <input type="text" id="lastname" name="name">
                </div>
                <div class="form-group col-md-6">
                    <label for="phone">Phone Number</label>
                    <input type="text" id="phone" name="phone">
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email Address</label>
                    <input type="text" id="email" name="email">
                </div>
                <div class="form-group col-md-12">
                    <label for="message">Message</label>
                    <textarea id="message" name="message"></textarea>
                </div>
                <div class="form-group col-md-12">
                    <div class="form-submit">
                        <button type="submit" class="custom-button">Send Email</button>
                        <p>Need a quick answer? <a href="knowlogeBase.html">Your answer might be in our knowloge Base.</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--============= Contact Section Ends Here =============-->


<!--============= Have Questions Section Starts Here =============-->
<div class="have-questions-section mb--70--145">
    <div class="container">
        <div class="have-question-wrapper shadow">
            <div class="row">
                <div class="col-lg-8">
                    <div class="have-question-content">
                        <h2 class="title">Still Have Questions?</h2>
                        <p>Our customer care team is here for you!</p>
                        <a href="contact.html" class="custom-button">Contact Us</a>
                    </div>
                </div>
                <div class="right-thumb d-none d-lg-block">
                    <img src="./assets/images/faq/have-questions.png" alt="faq">
                </div>
            </div>
        </div>
    </div>
</div>
<App-footer></App-footer>
