<App-navbar></App-navbar>
<div class="hero-section bg_img" style="background-image: url(/assets/images/banner/page-header.jpg);">
    <div class="container">
        <div class="banner-content cl-white">
            <ul class="breadcrumb">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="Knowledge">knowlogeBase</a></li>
            </ul>
        </div>
    </div>
</div>
<!--============= Banner Section Ends Here =============-->


<!--============= Form Section Starts Here =============-->
<div class="form-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="search-wrapper mt--55--70">
                    <form class="search-form round no-border mw-925">
                        <input type="text" placeholder="Start typing your search…">
                        <button type="submit"><i class="fas-fa-search"></i> <span class="d-none d-sm-inline-block">Search</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--============= Form Section Ends Here =============-->


<!--============= Faqs Section Starts Here =============-->
<section class="faq-section padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <aside class="sticky-menu">
                    <div class="faq-menu bg_img mb-30" style="background-image: url(/assets/images/faq/faq-menu.png);">
                        <ul id="faq-menu">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="#">For Companies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="#">For Freelancers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="#">Your Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="#">Pricing Plans</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="#">Technical</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="#">Security</a>
                            </li>
                        </ul>
                    </div>
                    <div class="faq-video">
                        <a href="#" class="video-area popup">
                            <img src="./assets/images/faq/video.png" alt="faq">
                            <div class="video-button-2">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="flaticon-play-button"></i>
                            </div>
                        </a>
                        <h5 class="title"></h5>
                    </div>
                </aside>
            </div>
            <div class="col-lg-8 col-xl-7">
                <article class="mt-70 mt-lg-0">
                    <div class="faq--wrapper" id="company">
                        <h3 class="main-title">For Companies</h3>
                        <div class="faq--area">
                            <div class="faq--item">
                                <div class="faq-title">
                                    <h6 class="title">Sign up for a free trial account?</h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic
                                        formula to write perfect ad copy.</p>
                                </div>
                            </div>
                            <div class="faq--item">
                                <div class="faq-title">
                                    <h6 class="title">Why can't I login to my account?</h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic
                                        formula to write perfect ad copy.</p>
                                </div>
                            </div>
                            <div class="faq--item">
                                <div class="faq-title">
                                    <h6 class="title">What features does the Mobile App have?</h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic
                                        formula to write perfect ad copy.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq--wrapper" id="freelancer">
                        <h3 class="main-title">For Freelancers</h3>
                        <div class="faq--area">
                            <div class="faq--item">
                                <div class="faq-title">
                                    <h6 class="title">What’s special about helphelpDesk?</h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic
                                        formula to write perfect ad copy.</p>
                                </div>
                            </div>
                            <div class="faq--item">
                                <div class="faq-title">
                                    <h6 class="title">What problem does helpDesk solve?</h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic
                                        formula to write perfect ad copy.</p>
                                </div>
                            </div>
                            <div class="faq--item">
                                <div class="faq-title">
                                    <h6 class="title">How does helpDesk differ from usual apps?</h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic
                                        formula to write perfect ad copy.</p>
                                </div>
                            </div>
                            <div class="faq--item">
                                <div class="faq-title">
                                    <h6 class="title">More about early access</h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic
                                        formula to write perfect ad copy.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq--wrapper" id="account">
                        <h3 class="main-title">Account</h3>
                        <div class="faq--area">
                            <div class="faq--item">
                                <div class="faq-title">
                                    <h6 class="title">How does integration works?</h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic
                                        formula to write perfect ad copy.</p>
                                </div>
                            </div>
                            <div class="faq--item open active">
                                <div class="faq-title">
                                    <h6 class="title">How to use helpDeskoto API?</h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic
                                        formula to write perfect ad copy.</p>
                                </div>
                            </div>
                            <div class="faq--item">
                                <div class="faq-title">
                                    <h6 class="title">How do plugins work?</h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic
                                        formula to write perfect ad copy.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq--wrapper" id="pricing">
                        <h3 class="main-title">Pricing Plans</h3>
                        <div class="faq--area">
                            <div class="faq--item">
                                <div class="faq-title">
                                    <h6 class="title">How much does helpDeskoto cost?</h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic
                                        formula to write perfect ad copy.</p>
                                </div>
                            </div>
                            <div class="faq--item">
                                <div class="faq-title">
                                    <h6 class="title">How I can get helpDeskoto for free?</h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic
                                        formula to write perfect ad copy.</p>
                                </div>
                            </div>
                            <div class="faq--item">
                                <div class="faq-title">
                                    <h6 class="title">Can I cancel my account plan at any time?</h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic
                                        formula to write perfect ad copy.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq--wrapper" id="tec">
                        <h3 class="main-title">Technical</h3>
                        <div class="faq--area">
                            <div class="faq--item">
                                <div class="faq-title">
                                    <h6 class="title">How can I edit my personal information?</h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic
                                        formula to write perfect ad copy.</p>
                                </div>
                            </div>
                            <div class="faq--item">
                                <div class="faq-title">
                                    <h6 class="title">How do I disable installed apps?</h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic
                                        formula to write perfect ad copy.</p>
                                </div>
                            </div>
                            <div class="faq--item">
                                <div class="faq-title">
                                    <h6 class="title">How do I disable installed apps?</h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic
                                        formula to write perfect ad copy.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq--wrapper" id="security">
                        <h3 class="main-title">Security</h3>
                        <div class="faq--area">
                            <div class="faq--item">
                                <div class="faq-title">
                                    <h6 class="title">How do I switch to a different price plan?</h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic
                                        formula to write perfect ad copy.</p>
                                </div>
                            </div>
                            <div class="faq--item">
                                <div class="faq-title">
                                    <h6 class="title">How can I get my money back?</h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic
                                        formula to write perfect ad copy.</p>
                                </div>
                            </div>
                            <div class="faq--item">
                                <div class="faq-title">
                                    <h6 class="title">What about the security of my payments?</h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic
                                        formula to write perfect ad copy.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!--============= Faqs Section Ends Here =============-->


<!--============= Have Questions Section Starts Here =============-->
<div class="have-questions-section mb--70--145">
    <div class="container">
        <div class="have-question-wrapper">
            <div class="row">
                <div class="col-lg-8">
                    <div class="have-question-content">
                        <h2 class="title">Still Have Questions?</h2>
                        <p>Our customer care team is here for you!</p>
                        <a href="contact.html" class="custom-button">Contact Us</a>
                    </div>
                </div>
                <div class="right-thumb d-none d-lg-block">
                    <img src="./assets/images/faq/have-questions.png" alt="faq">
                </div>
            </div>
        </div>
    </div>
</div>
<App-footer></App-footer>
