<App-navbar></App-navbar>

<section class="banner-3 bg_img" style="background-image: url(/assets/images/banner/banner-3.jpg);">
    <div class="container">
        <div class="banner-content">
            <h1 class="title cl-white">We are here to help!</h1>
            <p class=" cl-white">Have questions? Search through our Help Center.</p>
        </div>
    </div>
</section>
<!--============= Banner Section Ends Here =============-->


<!--============= Form Section Two Starts Here =============-->
<div class="form-section padding-bottom mt--40">
    <div class="container">
        <form class="search-form round shadow mw-925">
            <input type="text" placeholder="Start typing your search…">
            <button type="submit"><i class="fas fa-search"></i><span class="d-none d-sm-inline-block">Search</span></button>
        </form>
    </div>
</div>
<!--============= Form Section Two Ends Here =============-->


<!--============= Question Section Starts Here =============-->
<section class="question-section padding-bottom">
    <div class="container">
        <div class="section-header">
            <span class="cate">Got Any Questions</span>
            <h2 class="title">We've Got Answers</h2>
        </div>
        <div class="row justify-content-center mb-30-none align-items-start">
            <div class="col-xl-4 col-md-6 col-sm-10">
                <div class="question-item">
                    <routerLink routerLink="#0">Why is my withdrawal pending?</routerLink>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-10">
                <div class="question-item active">
                    <routerLink routerLink="#0">How do I deposit funds?</routerLink>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-10">
                <div class="question-item">
                    <routerLink routerLink="#0">How do I deposit Euro?</routerLink>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-10">
                <div class="question-item">
                    <routerLink routerLink="#0">How do I verify my account?</routerLink>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-10">
                <div class="question-item">
                    <routerLink routerLink="#0">Why is my deposit pending?</routerLink>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-10">
                <div class="question-item">
                    <routerLink routerLink="#0">How are the fees structured?</routerLink>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============= Question Section Ends Here =============-->


<!--============= Categories Section Starts Here =============-->
<div class="category-section padding-top pos-rel">
    <div class="category-bg bg_img" style="background-image: url(/assets/images/banner/cate-bg.jpg);"></div>
    <div class="container">
        <div class="section-header cl-white">
            <span class="cate">Choose Your Support</span>
            <h2 class="title">Browse All Categories</h2>
        </div>
        <div class="row mb-30-none justify-content-center">
            <div class="col-sm-10 col-md-6 col-lg-4">
                <div class="how-search-item no-border">
                    <div class="thumb">
                        <img src="assets/images/how/how1.png" alt="how">
                    </div>
                    <div class="content">
                        <h4 class="title"><a routerLink="knowlogeBase">How to use HelpDesk</a></h4>
                        <p>Helpful information on how to use HelpDesk.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4">
                <div class="how-search-item no-border">
                    <div class="thumb">
                        <img src="assets/images/how/how2.png" alt="how">
                    </div>
                    <div class="content">
                        <h4 class="title"><a routerLink="Forums">Community Forums</a></h4>
                        <p>Ask questions and share your ideas!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4">
                <div class="how-search-item no-border">
                    <div class="thumb">
                        <img src="assets/images/how/how3.png" alt="how">
                    </div>
                    <div class="content">
                        <h4 class="title"><a routerLink="Ticket">Ticket System</a></h4>
                        <p>Built to help you solve issues faster than ever.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--============= Categories Section Ends Here =============-->


<!--============= Find Section Starts Here =============-->
<div class="find-section padding-top padding-bottom pos-rel oh">
    <div class="anime-bg bg_img" style="background-image: url(/assets/images/banner/anime-bg.png);"></div>
    <div class="container">
        <div class="section-header">
            <span class="cate">Didn’t Find What</span>
            <h2 class="title">You Were Looking For?</h2>
            <p>Chat with us or send us an email and Submit your query.</p>
        </div>
        <ul class="looking-wrapper">
            <li>
                <routerLink routerLink="#0">Chat With Us</routerLink>
            </li>
            <li>
                <routerLink routerLink="Contact">Send us an Email</routerLink>
            </li>
            <li>
                <routerLink routerLink="/Fourms">Submit your forums</routerLink>
            </li>
        </ul>
    </div>
</div>
<App-footer></App-footer>
